<div class="container">
  <img src="assets/images/banner.svg" alt="Brand Image" class="brand-logo" />
  <form
    class="registration-form"
    #registrationForm="ngForm"
    (ngSubmit)="onSubmit(registrationForm)"
  >
    <h2>Onsite Exhibitors Registration</h2>
    <div class="event-select">
      <label for="event" class="select-title">Event Selection</label>
      <div class="select-wrapper">
        <input
          type="radio"
          id="event1"
          name="event"
          value="FHA-Food & Beverage"
          ngModel
        />
        <label for="event1">FHA-Food & Beverage</label>
      </div>
      <div class="select-wrapper">
        <input
          type="radio"
          id="event2"
          name="event"
          value="Prowine Singapore"
          ngModel
        />
        <label for="event2">Prowine Singapore</label>
      </div>
      <h4 class="company-title">Company</h4>
      <p class="company-description">
        If you are unable to find your company name, please approach our
        Exhibitor Team for assistance.
      </p>
      <select name="company" id="company-select" ngModel>
        <option value="" disabled selected>Please select</option>
        <option
          *ngFor="let company of companies"
          [value]="company.S_event"
          (change)="onCompanySelect()"
        >
          {{ company.S_event }}
        </option>
      </select>
    </div>

    <div class="divider"></div>

    <h4 class="all-field-title">* All fields are mandatory.</h4>
    <div *ngFor="let exhibitor of exhibitors; let i = index">
      <app-exhibitor
        [index]="i"
        [exhibitor]="exhibitor"
        [removeExhibitor]="removeExhibitor.bind(this)"
      ></app-exhibitor>
    </div>

    <button class="add-btn" (click)="addExhibitor()">
      <img src="assets/images/add-btn.svg" alt="Add Icon" />
      <p>Add Exhibitor</p>
    </button>

    <div class="divider"></div>

    <button type="submit" class="submit-btn">Register</button>
  </form>
</div>
