<div class="container">
  <img src="assets/images/banner.svg" alt="Brand Image" class="brand-logo" />
  <form
    class="registration-form"
    #registrationForm="ngForm"
    (ngSubmit)="onSubmit(registrationForm)"
  >
    <h2>Onsite Exhibitors Registration</h2>
    <div class="event-select">
      <label for="event" class="select-title">Event Selection</label>
      <div class="select-wrapper">
        <input
          type="radio"
          id="event1"
          name="event"
          value="FHA-Food & Beverage"
          [(ngModel)]="selectedEvent"
          (change)="onEventChange()"
          required
        />
        <label for="event1">FHA-Food & Beverage</label>
      </div>
      <div class="select-wrapper">
        <input
          type="radio"
          id="event2"
          name="event"
          value="Prowine Singapore"
          [(ngModel)]="selectedEvent"
          (change)="onEventChange()"
          required
        />
        <label for="event2">Prowine Singapore</label>
      </div>
      <h4 class="company-title">Company</h4>
      <p class="company-description">
        If you are unable to find your company name, please approach our
        Exhibitor Team for assistance.
      </p>
      <select
        name="company"
        id="company-select"
        [(ngModel)]="selectedCompany"
        (change)="onCompanySelect()"
      >
        <option value="" disabled selected>Please select</option>
        <option
          *ngFor="let company of filteredCompanies"
          [value]="company.S_company"
        >
          {{ company.S_company }}
        </option>
      </select>
    </div>

    <div class="divider"></div>

    <div *ngIf="formError" class="error-message">{{ formError }}</div>

    <div *ngFor="let exhibitor of exhibitors; let i = index">
      <app-exhibitor
        [index]="i"
        [exhibitor]="exhibitor"
        [removeExhibitor]="removeExhibitor.bind(this)"
        [error]="exhibitor.error"
        [error1]="exhibitor.error1"
      ></app-exhibitor>
    </div>

    <button class="add-btn" (click)="addExhibitor()">
      <img src="assets/images/add-btn.svg" alt="Add Icon" />
      <p>Add Exhibitor</p>
    </button>

    <div class="divider"></div>

    <div *ngIf="isSubmitting" class="progress-indicator">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
    <button type="submit" class="submit-btn" [disabled]="isSubmitting">
      Register
    </button>
  </form>
  <app-completion-modal
    *ngIf="showCompletionModal"
    [fiveCode]="fiveCode"
    (close)="closeCompletionModal()"
  ></app-completion-modal>
</div>
