.all-field-container {
  margin: 0 16px;
  border-radius: 8px;
  background-color: white;

  .field-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fde8e7;
    padding: 0 16px;
    border-radius: 8px 8px 0 0;

    .field-title {
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      text-decoration-skip-ink: none;
      color: #6e6b7b;
    }

    .remove-btn {
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: right;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      color: #ee4036;
      border: none;
    }
  }

  .field-container {
    padding: 0 16px 20px;
    border-radius: 0 0 8px;
    box-shadow: 0px 4px 20px 0px #4040411f;
    margin-bottom: 20px;

    .field-wrapper {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #6e6b7b;
        display: block;
      }

      input {
        padding: 11px 10px;
        border-radius: 6px;
        border: 1px solid #d8d6de;
      }

      #country-select {
        border: 1px solid #d8d6de;
        border-radius: 6px;
        padding: 11px 10px;
        width: 100%;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: #6e6b7b;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        option {
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          text-decoration-skip-ink: none;
          color: #6e6b7b;
          height: 40px;
          padding: 8px 16px;
          background-color: white;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;

          &:checked {
            background-color: #ee4036; /* Change this color to your desired selected color */
            color: white;
          }
        }
      }
    }
  }
}

.error-message {
  color: #ff0404;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: left;
}

.error1-message {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff3b30;
  padding-top: 16px;
}
