<!-- filepath: /D:/LocalGit/occam/src/app/exhibitor/exhibitor.component.html -->
<div class="all-field-container">
  <div class="field-title-container">
    <p class="field-title">Exhibitor #{{ index + 1 }}</p>
    <p class="remove-btn">Remove</p>
  </div>
  <div class="field-container">
    <div class="field-wrapper">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="field-wrapper">
      <label for="name">Name on Badge</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="field-wrapper">
      <label for="jobtitle">Job Title</label>
      <input type="text" id="jobtitle" name="jobtitle" required />
    </div>
    <div class="field-wrapper">
      <label for="country">Country</label>
      <input type="text" id="country" name="country" required />
    </div>
    <div class="field-wrapper">
      <label for="company">Company on Badge</label>
      <input type="text" id="company" name="company" required />
    </div>
  </div>
</div>
