<!-- filepath: /D:/LocalGit/occam/src/app/exhibitor/exhibitor.component.html -->
<div class="all-field-container">
  <div class="field-title-container">
    <p class="field-title">Exhibitor #{{ index + 1 }}</p>
    <button class="remove-btn" (click)="removeExhibitor(index)">Remove</button>
  </div>
  <div class="field-container">
    <div *ngIf="error1" class="error1-message">* All fields are mandatory.</div>
    <div class="field-wrapper">
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="exhibitor.email"
      />
      <div *ngIf="error" class="error-message">Invalid email address</div>
    </div>
    <div class="field-wrapper">
      <label for="name">Name on Badge</label>
      <input type="text" id="name" name="name" [(ngModel)]="exhibitor.name" />
    </div>
    <div class="field-wrapper">
      <label for="jobtitle">Job Title</label>
      <input
        type="text"
        id="jobtitle"
        name="jobtitle"
        [(ngModel)]="exhibitor.jobTitle"
      />
    </div>
    <div class="field-wrapper">
      <label for="country">Country</label>
      <select
        name="country"
        id="country-select"
        [(ngModel)]="exhibitor.country"
      >
        <option value="" disabled selected>Please select</option>
        <option *ngFor="let country of countries" [value]="country.country">
          {{ country.country }}
        </option>
      </select>
    </div>
    <div class="field-wrapper">
      <label for="company">Company on Badge</label>
      <input
        type="text"
        id="company"
        name="company"
        [(ngModel)]="exhibitor.company"
      />
    </div>
  </div>
</div>
