/* You can add global styles to this file, and also import other style files */
/* filepath: /D:/LocalGit/occam/src/styles.scss */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

// Define color variables
$light-grey-color: #d8d6de;
$dark-grey-color: #6e6b7b;
$black-color: #000000;
$semi-black-color: #404041;
$white-color: #ffffff;
$semi-white-color: #fde8e7;
$main-red-color: #ee4036;
$error-red-color: #ff0404;
$error-red-color-light: #ff3b30;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
